#Docker Settings
RANCHER_IMAGE_VERSION=7.6.0

AVALON_CONTAINER_NAME=avalon-dev
REDIS_CONTAINER_NAME=avalon-redis
NGINX_CONTAINER_NAME=avalon-nginx
FEDORA_CONTAINER_NAME=avalon-fedora
SOLR_CONTAINER_NAME=avalon-solr

#No underscores in name
POSTGRES_CONTAINER_NAME=avalon-pgdb

VIC_SERVER=harbor.library.tamu.edu

#
# Redis Settings
# REDIS_HOST needs to match REDIS_CONTAINER_NAME

REDIS_HOST=avalon-redis

#
# Database Settings
#

# Database host in URL needs to match POSTGRES_CONTAINER_NAME

DATABASE_URL=postgres://postgres:password@avalon-pgdb/avalon

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

AVALON_DB_USER=avalon
AVALON_DB_PASSWORD=password

FEDORA_DB_USER=fedora
FEDORA_DB_PASSWORD=password

#
# Avalon Application settings
#
APP_NAME=avalon
RAILS_ENV=production

#
# SOLR Settings
# SOLR host in URL needs to match SOLR_CONTAINER_NAME

SOLR_URL=http://avalon-solr:8983/solr/avalon/
SOLR_HOST=avalon-solr
SOLR_PORT=8983
SOLR_BASE_PATH=avalon

#
# Fedora Settings
# fedora host in URL needs to match FEDORA_CONTAINER_NAME
# If you have a namespace you need to ensure it is created 
# The namespace is really for remote instances and not created by default on
# local docker spin up

FEDORA_URL=http://fedoraAdmin:fedoraAdmin@avalon-fedora:8080/fedora/rest

FEDORA_USER=fedoraAdmin
FEDORA_PASSWORD=fedoraAdmin
FEDORA_HOST=avalon-fedora
FEDORA_PORT=8080
FEDORA_NAMESPACE=
FEDORA_BASE_PATH=

# For backslash escape it /avalon/ becomes \\/avalon
#FEDORA_BASE_PATH=\\/avalon\\/

SECRET_KEY_BASE=aaaa
AVALON_BRANCH=tamu_master-7.6.0
AVALON_REPO=https://github.com/TAMULib/avalon.git
AVALON_REPO_RAW=https://raw.githubusercontent.com/TAMULib/avalon/
AVALON_HOSTNAME=avalon-dev

CLIENT_MAX_BODY_SIZE=2050m

EMAIL_COMMENTS=someone@anywhere.com
EMAIL_NOTIFICATION=someone@anywhere.com
EMAIL_SUPPORT=someone@anywhere.com
SMTP_ADDRESS=relay.tamu.edu
SMTP_PORT=25

# Setting up an initial users requires a few more steps .  
# check out the init-avalon-db.sh in the db folder for more info.
# if not running SAML or LDAP do the signup at this url /users/sign_up and create the archivist1@example.com
# run these insert commands in the Postgres server command line.

# psql -v ON_ERROR_STOP=1 -d avalon --username "$POSTGRES_USER"
# INSERT INTO role_maps(entry, parent_id) VALUES ('archivist1@example.com', 1);
# INSERT INTO role_maps(entry, parent_id) VALUES ('archivist1@example.com', 2);
# INSERT INTO role_maps(entry, parent_id) VALUES ('archivist1@example.com', 3);

# Here are the Kaltura / NGINX config settings.
# 
KALTURA_HOSTNAME=avalon-nginx

# This is the hostname that Kaltura / nginx can get to
# so for local docker it is the avalon container name.
# historically this has been the URL to the avalon box
# http://avalon-pre.library.tamu.edu
# http://avalon-dev:3000
RTMP_AVALON_URL=http://avalon-dev

# Historically this has been 80 or 8880 for docker.  This is the port Kaltura runs on.
KALTURA_STREAMING_PORT=8880

# Historically this has been 127.0.0.1
RESOLVER_IP=127.0.0.1

# Historically this has been
# For Rancher this is the clusterip for the avalon box under the service discovery tab
# http://10.43.48.137
# 
PROXY_PASS_URL=http://avalon-dev

# this is prepended to the "auth_request /auth;" line in the nginx config
# to disable this line I have been putting a #  this is because on Rancher I have been having streaming pass thru issues.
# 
AUTH_REQUEST_LINE=

# Historically this has been /mnt/avalon/masterfiles
MASTER_FILE_LOCATION=/mnt/avalon/masterfiles

# Optional Settings
# Z3950_HOST=
# Z3950_PORT=
# Z3950_DATABASE=
# Z3950_ATTRIBUTE=
# LTI_AUTH_KEY=
# LTI_AUTH_SECRET=

# These would be used for local development and enabling SAML.  
SAML_SP_ENTITY_ID=
SAML_NAME_IDENTIFIER_FORMAT=
SAML_ISSUER=
SAML_IDP_SSO_SERVICE_URL=
SAML_IDP_SLO_SERVICE_URL=
SAML_IDP_CERT_FINGERPRINT=
SAML_ASSERTION_CONSUMER_SERVICE_URL=
