#Docker Settings
RANCHER_IMAGE_VERSION=7.2.1
AVALON_CONTAINER_NAME=avalon
REDIS_CONTAINER_NAME=avalon_redis
NGINX_CONTAINER_NAME=avalon_nginx
VIC_SERVER=10.55.134.48

#
# Redis Settings
# REDIS_HOST needs to match REDIS_CONTAINER_NAME

REDIS_HOST=avalon_redis

#
# Database Settings
#

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

AVALON_DB_USER=avalon
AVALON_DB_PASSWORD=password

FEDORA_DB_USER=fedora
FEDORA_DB_PASSWORD=password

#
# Avalon Application settings
#
APP_NAME=avalon

RAILS_ENV=production

DATABASE_URL=postgres://postgres:password@db/avalon
SOLR_URL=http://solr:8983/solr/avalon
FEDORA_URL=http://fedoraAdmin:fedoraAdmin@fedora:8080/fedora/rest/avalon

FEDORA_USER=fedoraAdmin
FEDORA_PASSWORD=fedoraAdmin
FEDORA_HOST=fedora
FEDORA_PORT=8080
FEDORA_NAMESPACE=avalon

SOLR_HOST=solr
SOLR_PORT=8983
SOLR_BASE_PATH=avalon

SECRET_KEY_BASE=aaaa
AVALON_BRANCH=tamu_master
AVALON_REPO=https://github.com/TAMULib/avalon.git
AVALON_REPO_RAW=https://raw.githubusercontent.com/TAMULib/avalon/
AVALON_HOSTNAME=localhost

CLIENT_MAX_BODY_SIZE=2050m

LDAP_USER=
LDAP_PASSWORD=

EMAIL_COMMENTS=someone@anywhere.com
EMAIL_NOTIFICATION=someone@anywhere.com
EMAIL_SUPPORT=someone@anywhere.com
SMTP_ADDRESS=relay.tamu.edu
SMTP_PORT=25

# This is the hostname that Kaltura / nginx can get to
# so for local docker it is the avalon container name.
RTMP_AVALON_URL=http://avalon


# Optional Settings
# Z3950_HOST=
# Z3950_PORT=
# Z3950_DATABASE=
# Z3950_ATTRIBUTE=
# LTI_AUTH_KEY=
# LTI_AUTH_SECRET=
